.container.program
	h2.program__title Ձեր ուսումնառության ծրագիրը
	p.program__desc Ուսումնառության ընթացքում Դուք կյուրացնեք
	.row
		.col-xl-10.offset-xl-1.col-sm-12.offset-sm-0
			ul.program__list
				li.program__item HTML5
				li.program__item CSS3
				li.program__item CSS3
				li.program__item HTML5
				li.program__item CSS3
				li.program__item CSS3
				li.program__item HTML5
				li.program__item CSS3
				li.program__item CSS3
				li.program__item HTML5
	.row
		.col-xl-6.col-lg-6
			.program__accordion.accordion
				.accordion__item
					.accordion__block
						.accordion__info
							p.accordion__num Բլոկ #1
								+png('code')
								span.accordion__lesson պարապմունք 1
							h3.accordion__title Մուտք
						span.accordion__close(aria-hidden='true') ×
					.accordion__open
						p.accordion__desc
							| Ծանոթացում դասընթացի և մասնագիտության հետ
				.accordion__item
					.accordion__block
						.accordion__info
							p.accordion__num Բլոկ #2
								+png('code')
								span.accordion__lesson պարապմունք 2
							h3.accordion__title HTML
						span.accordion__close(aria-hidden='true') ×
					.accordion__open
						p.accordion__desc
							| Ծանոթացում դասընթացի և մասնագիտության հետ
				.accordion__item
					.accordion__block
						.accordion__info
							p.accordion__num Բլոկ #3
								+png('code')
								span.accordion__lesson պարապմունք 3
							h3.accordion__title CMS
						span.accordion__close(aria-hidden='true') ×
					.accordion__open
						p.accordion__desc
							| Ծանոթացում դասընթացի և մասնագիտության հետ
				.accordion__item
					.accordion__block
						.accordion__info
							p.accordion__num Բլոկ #4
								+png('code')
								span.accordion__lesson պարապմունք 4
							h3.accordion__title Responsive и Adaptive
						span.accordion__close(aria-hidden='true') ×
					.accordion__open
						p.accordion__desc
							| Ծանոթացում դասընթացի և մասնագիտության հետ
		.col-xl-6.col-lg-6
			.program__accordion.accordion
				.accordion__item
					.accordion__block
						.accordion__info
							p.accordion__num Բլոկ #5
								+png('code')
								span.accordion__lesson պարապմունք 5
							h3.accordion__title JavaScript и jQuery
						span.accordion__close(aria-hidden='true') ×
					.accordion__open
						p.accordion__desc
							| Ծանոթացում դասընթացի և մասնագիտության հետ
				.accordion__item
					.accordion__block
						.accordion__info
							p.accordion__num Բլոկ #6
								+png('code')
								span.accordion__lesson պարապմունք 6
							h3.accordion__title Հոստինգ և CMS
						span.accordion__close(aria-hidden='true') ×
					.accordion__open
						p.accordion__desc
							| Ծանոթացում դասընթացի և մասնագիտության հետ
				.accordion__item
					.accordion__block
						.accordion__info
							p.accordion__num Բլոկ #7
								+png('code')
								span.accordion__lesson պարապմունք 7
							h3.accordion__title Աշխատանք ֆրիլանսում
						span.accordion__close(aria-hidden='true') ×
					.accordion__open
						p.accordion__desc
							| Ծանոթացում դասընթացի և մասնագիտության հետ
				.accordion__item
					.accordion__block
						.accordion__info
							p.accordion__num Բլոկ #8
								+png('code')
								span.accordion__lesson պարապմունք 8
							h3.accordion__title Հայացք ապագային
						span.accordion__close(aria-hidden='true') ×
					.accordion__open
						p.accordion__desc
							| Ծանոթացում դասընթացի և մասնագիտության հետ

script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
