#aboutUs.container.aboutUs
    h2.aboutUs__title Ի՞նչ է պետք իմանալ Code Time-ի մասին։
    .row
        .col-xl-4.col-lg-6
            .aboutUs__item
                p.aboutUs__info Իրական ընկերություն, որը աշխատում է
                     | Հայաստանում և արտասահմանում
                span.aboutUs__num 01
        .col-xl-4.col-lg-6
            .aboutUs__item
                p.aboutUs__info Ուժեղ թիմ, որն աշխատում է արդյունքներին համապատասխան
                span.aboutUs__num 02
        .col-xl-4.col-lg-6
            .aboutUs__item
                p.aboutUs__info Մարդկային ջերմ մոտեցում ուսումնառության ընթացքում
                span.aboutUs__num 03
        .col-xl-4.col-lg-6
            .aboutUs__item
                p.aboutUs__info Ձեզ ուսուցանում են միայն խարիզմատիկ և բանիմաց էքսպերտներ
                span.aboutUs__num 04
        .col-xl-4.col-lg-6
            .aboutUs__item
                p.aboutUs__info Ուսումնառություն հիմնված ռեալ նախագծերի վրա և ռեալ պրակտիկա
                span.aboutUs__num 05
        .col-xl-4.col-lg-6
            .aboutUs__item
                p.aboutUs__info Մերն նպատակն է Ձեր ֆինանսական  արդյունքը ուսումնառության ընթացքում
                span.aboutUs__num 06