.container-fluid.weGive
    .container
        .row
            .col-xl-6.col-lg-6.col-md-12
                .weGive__block
                    .weGive__item
                        .weGive__iconBg
                            +svg('icon-cloud').weGive__icon
                        .weGive__desc
                            h3.weGive__subtitle Դիպլոմային աշխատանք
                            p.weGive__text Դուք կատարում եք բազմաթիվ գործնական աշխատանքներ,
                                | նախքան ամենակարևոր դիպլոմայինը։ Նրա մակարդակը Ձեզ թույլ կտա հասկանալ, թե որքան առաջ եք դուք գնացել։
                    .weGive__item
                        .weGive__iconBg
                            +svg('icon-outline').weGive__icon
                        .weGive__desc
                            h3.weGive__subtitle Բարձր մասնագիտացում
                            p.weGive__text Դուք սովորում եք այն ամենը, ինչ անհրաժեշտ է բարձր
                                | վարձատրվող աշխատանք գտնելու համար։ Աշխատեք այնպես, որ Ձեզ արժանի
                                |գնահատեն ցանկացած ընկերությունում։
                    .weGive__item
                        .weGive__iconBg
                            +svg('icon-education').weGive__icon
                        .weGive__desc
                            h3.weGive__subtitle Անվճար հոստինգ ու դոմեն
                            p.weGive__text Որպես նվեր դուք ստանում ենք անվճար հոստինգ և դոմեն,
                                | որպեսզի միանգամից կարողանաք տեղադրել ձեր կայքը համացանցում։
                    a.weGive__btn.btn(href='#') Ուզում եմ գրանցվել
            .col-xl-6.col-lg-6
                img.weGive__img(src='img/weGive.png' alt='weGive_girl')