/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-beginner {
  background-image: url(../img/sprites.png);
  background-position: 0px -597px;
  width: 64px;
  height: 64px;
}
.icon-calendar {
  background-image: url(../img/sprites.png);
  background-position: 0px -377px;
  width: 60px;
  height: 63px;
}
.icon-chart {
  background-image: url(../img/sprites.png);
  background-position: 0px -304px;
  width: 60px;
  height: 63px;
}
.icon-code {
  background-image: url(../img/sprites.png);
  background-position: 0px 0px;
  width: 22px;
  height: 22px;
}
.icon-design {
  background-image: url(../img/sprites.png);
  background-position: 0px -671px;
  width: 64px;
  height: 64px;
}
.icon-hand {
  background-image: url(../img/sprites.png);
  background-position: 0px -94px;
  width: 60px;
  height: 60px;
}
.icon-imac {
  background-image: url(../img/sprites.png);
  background-position: 0px -523px;
  width: 64px;
  height: 64px;
}
.icon-money {
  background-image: url(../img/sprites.png);
  background-position: 0px -164px;
  width: 60px;
  height: 60px;
}
.icon-pig {
  background-image: url(../img/sprites.png);
  background-position: 0px -450px;
  width: 60px;
  height: 63px;
}
.icon-racket {
  background-image: url(../img/sprites.png);
  background-position: 0px -234px;
  width: 60px;
  height: 60px;
}
.icon-voice {
  background-image: url(../img/sprites.png);
  background-position: 0px -32px;
  width: 60px;
  height: 52px;
}
.icon-web {
  background-image: url(../img/sprites.png);
  background-position: 0px -745px;
  width: 64px;
  height: 64px;
}
