extends template/base

block vars

block content
	include section/header/header
	include section/choose/choose
	include section/payment/payment
	include  section/wait/wait
	include section/program/program
	include section/weGive/weGive
	include section/lessonsGo/lessonsGo
	include section/faq/faq
	include section/signUp/signUp
