.container-fluid.choose
    h2.choose__title Ինչո՞ւ ընտրել FrontEnd
    .container
        .row
            .col-xl-3.col-lg-6.col-md-6
                .choose__item
                    +png("hand").choose__icon
                    h3.choose__subtitle Must have
                    p.choose__text Համացանցում նախագծեր և կայքեր պատրաստելու համար
            .col-xl-3.col-lg-6.col-md-6
                .choose__item
                    +png("money").choose__icon
                    h3.choose__subtitle ~$1000
                    p.choose__text Վեբ-ծրագրավորողի աշխատավարձը միջինում կազմում է
            .col-xl-3.col-lg-6.col-md-6
                .choose__item
                    +png("racket").choose__icon
                    h3.choose__subtitle Հիանալի մեկնարկ
                    p.choose__text Մուտք գործեք IT ոլորտ անփոխարինելի գիտելիքներով
            .col-xl-3.col-lg-6.col-md-6
                .choose__item
                    +png("voice").choose__icon
                    h3.choose__subtitle Պահանջարկ
                    p.choose__text Հարմարավաետություն և ազատ գրաֆիկ աշխատանքում, մասնագետների պահանջարկը գնալով միայն աճում է



