.header {
  padding-top: 22px;
  padding-bottom: 80px;

  &__row {
    position: absolute;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    padding: 20px 20px 0;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  &__logo {
    font-family: 'Merienda One', cursive;
    font-size: 40px;
    line-height: 40px;
    background: linear-gradient(90deg, $color-robinsEggBlue 0%, $royal-blue 47.61%, $color-purpleheart 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media (max-width: 1075px) {
      font-size: 37px;
    }
  }

  &__btn-group {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__btn {
    @media (max-width: 1075px) {
      font-size: 15px;
    }
  }

  &__phone {
    font-family: $font-family-mardoto;
    font-size: 20px;
    line-height: 24px;
    color: $color-curiousBlue;
    margin-top: 8px;
    @media (max-width: 1075px) {
      font-size: 18px;
    }
  }
}

.nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;

  &__link {
    font-family: $font-family-mardoto;
    font-size: 18px;
    line-height: 24px;
    color: $color-blueZodiac;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__icon {
    width: 24px;
    height: 24px;
  }

}

.content {
    margin-top: 200px;

  &__row {
    display: flex;
    align-items: center;
  }

  &__icon {
    width :35px;
    height: 35px;
    margin-right: 10px;
  }

  &__item {
    font-family: $font-family-mardoto;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: $color-blueZodiac;
    margin-right: 35px;
  }
  &__title {
    font-family: $font-family-mardoto;
    font-weight: bold;
    font-size: 64px;
    line-height: 77px;
    color: $color-blueZodiac;
    margin-top: 30px;
    margin-bottom: 25px;
  }
  &__text {
    font-family: $font-family-mardoto;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: $color-blueZodiac;
    margin-bottom: 10px;
  }
  &__desc {
    display: flex;
    align-items: center;
    font-family: $font-family-mardoto;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: $color-blueZodiac;
    margin-top: 10px;
    &::before {
      content: "";
      display: inline-block;
      width: 8px;
      height: 8px;
      background: $color-robinsEggBlue;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
  &__btn-group {
    margin-top: 30px;
    margin-bottom: 46px;
  }
  &__btn--hover {
    color: $color-curiousBlue;
    border: 2px solid $color-curiousBlue;
    box-sizing: border-box;
    border-radius: 26px;
    background: transparent;
    margin-left: 40px;
    &:hover {
      background: linear-gradient(90deg, #0ec1cc 0%, #3a75d9 47.61%, #7427e6 100%);
      color: #fff;
      transition: .5s;
    }
  }

  &__img {
    position: absolute;
    right: 0;
    top: -86px;
    z-index: -1;
  }

}
