.container-fluid.header
    .header__row
        a.header__logo(href='#') CodeTime
        ul.header__nav.nav
            li.nav__item
                a.nav__link(href='#') Նախագծի մասին
            li.nav__item
                a.nav__link(href='#') Դասընթացներ
            li.nav__item
                a.nav__link(href='#') Կարծիքներ
            li.nav__item
                a.nav__link(href='#') Կոնտակտներ
        .header__btn-group
            a.header__btn.btn(href='#') Կոնտակտներ
            a.header__phone(href="tel:+374 55 751 777") +374 55 751 777
    .container.header__content.content
        .row
            .col-xl-6.col-lg-7
                ul.content__row
                    +svg('icon-book').content__icon
                    li.content__item Դասընթաց սկսնակների համար
                    +svg('icon-clock').content__icon
                    li.content__item Հուլիսի 6, 2020թ․
                h1.content__title Front End developer: code your life
                p.content__text Յուրացրեք ապագայի ամենապահանջված մասնագիտություններից մեկը և փոխեք Ձեր կյանքի սովորական ընթացքը։
                ul.content__list
                    li.content__desc Զրոյից արդյունք երեք ամսում
                    li.content__desc 10 % տեսական և 90 % գործնական նյութ, հիմնված միայն ռեալ նախագծերի վրա
                    li.content__desc Անհատական մոտեցում յուրաքանչյուր ուսանողին
                .content__btn-group
                    a.content__btn.btn(href='#') Դասընթացի գրանցում
                    a.content__btn.content__btn--hover.btn(href='#') Իմանալ ավելին
                ul.content__row
                    +svg('icon-calendar').content__icon
                    li.content__item 3 Ամիս
                    +svg('icon-support').content__icon
                    li.content__item Անձնական աշխատանք
                    +svg('icon-gift').content__icon
                    i.content__item Նվերներ
            .col-xl-6.col-lg-5
                img.content__img(src='img/header_img.png' alt='header_img')
