.faq {
	&__title {
		margin-top: 70px;
		margin-bottom: 50px;
		font-family: $font-family-mardoto;
		font-weight: 500;
		font-size: 48px;
		line-height: 58px;
		letter-spacing: 0.32px;
		text-align: center;
		color: $color-blueZodiac;

		@media (max-width: 576px) {
			font-size: 31px;
			line-height: 42px;
		}
	}
}
