.container.faq
	h3.faq__title Հաճախ տրվող հարցերի պատասխանները
	.row
		.col-xl-6
			.faq__item.question
				.question__block
					h2.question__title Ինչպե՞ս են ընթանում դասընթացները՝ օնլայն թե օֆլայն։
					span.question__arrow
				p.question__answer(style='display: none;')
					| Դասերն անցկացվում են միայն անցանց, մեր գրասենյակում: Մեր հիմնական նպատակն է հնարավորինս շատ տեղեկատվություն հաղորդել և վերապատրաստման առաջին իսկ օրերից, ուսանողների համար ստեղծել աշխատանքային մթնոլորտ և նրանց դրդել արդյունքների: Եվ ցավոք, անհնար է այս ամենը փոխանցել առցանց:
		.col-xl-6
			.faq__item.question
				.question__block
					h2.question__title Ե՞րբ և ինչպե՞ս կարելի է վճարել ուսման համար։
					span.question__arrow
				p.question__answer(style='display: none;')
					| Վճարումը կարող է իրականացվել բանկի ցանկացած մասնաճյուղից, ինչպես նաև բջջային բանկի միջոցով ձեր հեռախոսից, եթե առկա է:
					| Անհրաժեշտ չէ վճարել վերապատրաստման 1 առաջին օրվա համար: Առաջին վճարումը պետք է կատարվի նախքան 3-րդ դասի մեկնարկը: Կարող եք վճարել ամբողջությամբ կամ մաս-մաս: Վճարման պայմանները նշված են պայմանագրում:
		.col-xl-6
			.faq__item.question
				.question__block
					h2.question__title Շաբաթական քանի՞ պարապմունք է և որքա՞ն է յուրաքանչյուրի տևողությունը։
					span.question__arrow
				p.question__answer(style='display: none;')
					| Դասընթացներն անցկացվում են շաբաթական 2 անգամ, տևողությունը ՝ 2.5-3 ժամ ՝ կախված թեմայից: ...
		.col-xl-6
			.faq__item.question
				.question__block
					h2.question__title Եթե այլևս ցանկություն չունենամ մասնակցել դասընթացներին, կարո՞ղ եմ ետ վերցնել վճարված գումարը։
					span.question__arrow
				p.question__answer
					| Եթե վճարել եք դասընթացի համար, բայց մտքափոխվել եք կամ մասնակցել եք ընդամենը 2 դասի, ապա մենք կվերադարձնենք ձեր վճարած գումարը `հանած բանկի միջնորդավճարը 3-5%
		.col-xl-6
			.faq__item.question
				.question__block
					h2.question__title Խմբում որքա՞ն ուսանող է ներգրավված։
					span.question__arrow
				p.question__answer(style='display: none;') Հարմարավետ ուսուցման համար յուրաքանչյուր խմբում 7-10 ուսանող է։
		.col-xl-6
			.faq__item.question
				.question__block
					h2.question__title Դասընթացների համար անհրաժե՞շտ է սեփական notebook։
					span.question__arrow
				p.question__answer
					| Եթե Ձեր նոթբուքի վրա աշխատելն ավելի հարմար է, կարող եք այն բերել ձեզ հետ, բայց մենք համակարգիչներ ենք տրամադրում բոլորի համար:
