.container.wait
	h2.wait__title Մենք սպասում ենք
	.row
		.col-xl-5.col-lg-7
			.wait__block
				.wait__item
					.wait__icon
						+png('beginner')
					p.wait__desc Սկսնակներին
				.wait__item
					.wait__icon
						+png('design')
					p.wait__desc Digital - մասնագետների
				.wait__item
					.wait__icon
						+png('web')
					p.wait__desc Վեբ-դիզայներների
				.wait__item
					.wait__icon
						+png('imac')
					p.wait__desc UI/UX դիզայներների
				.wait__item
					.wait__icon.icon
						+svg('icon-wealth')
					p.wait__desc Նրանց, ովքեր ունեն իրենց կյանքը փոխելու մեծ ցանկություն
				.wait__item
					.wait__icon
						+svg('icon-idea')
					p.wait__desc Նրանց, ովքեր ուզում են քայլել ժամանակին համընթաց։
			.wait__info.info
				h2.info__title Պետք է արդյո՞ք HTML, CSS- ի հետ աշխատելու փորձ։
				p.info__text Դասընթացին մենք յուրացնելու ենք կայքի վյորստկան և մշակումը զրոյից և աստիճանաբար բարձրացնելու ենք Ձեր իմացության մակարդակը։ Ցանկացած տեսակի փորձ, կարող է լինել օգտակար, բայց այն պարտադիր չէ։
				a.info__btn(href='#') Գրանցվել
		.col-xl-7.col-lg-5
			.wait__img
				img.wait__imgGirl(src='img/wait.png' alt='Girl')
