.container.lessonsGo
	h1.lessonsGo__title Ինչպե՞ս են ընթանալու դասերը
	.row
		.col-xl-4.col-lg-6.col-12
			.lessonsGo__box
				span.lessonsGo__number 01
				.lessonsGo__description
					h3.lessonsGo__name 12 պարապմունք
					p.lessonsGo__text Կարևորագույն թեմաների մանրամասն ուսումնասիրություն
		.col-xl-4.col-lg-6.col-12
			.lessonsGo__box
				span.lessonsGo__number 02
				.lessonsGo__description
					h3.lessonsGo__name Անհատական մոտեցում
					p.lessonsGo__text Ստացեք բազմաթիվ անահատական և ինտերակտիվ տնային աշխատանքների օրինակներ
		.col-xl-4.col-lg-6.col-12
			.lessonsGo__box
				span.lessonsGo__number 03
				.lessonsGo__description
					h3.lessonsGo__name Անձնական մենթոր
					p.lessonsGo__text Նա կուղեցի Ձեզ վյորստկայի ուսումնասիրության բարդ փուլերում։
		.col-xl-4.col-lg-6.col-12
			.lessonsGo__box
				span.lessonsGo__number 04
				.lessonsGo__description
					span.lessonsGo__name Անսահմանափակ շփում
					p.lessonsGo__text Հնարավորություն միշտ գտնվելու համախոհների մեջ
		.col-xl-4.col-lg-6.col-12
			.lessonsGo__box
				span.lessonsGo__number 05
				.lessonsGo__description
					h3.lessonsGo__name Ամուր միջավայր
					p.lessonsGo__text գործընկերներ, մենթորներ և համախոհներ
		.col-xl-4.col-lg-6.col-12
			.lessonsGo__box
				.lessonsGo__number 06
				.lessonsGo__description
					span.lessonsGo__name Օգնություն խնդիրներին
					p.lessonsGo__text Դուք այլևս չեք մնա միայնակ դժվարությունների առաջ
		.col-xl-4.col-lg-6.col-12
			.lessonsGo__box
				span.lessonsGo__number 07
				.lessonsGo__description
					h3.lessonsGo__name Ոչ մի կորուստ
					p.lessonsGo__text Մենք հետևում ենք Ձեր յուրաքանչյուր քայլին ուսումնառության գործընթացում
		.col-xl-4.col-lg-6.col-12
			.lessonsGo__box
				span.lessonsGo__number 08
				.lessonsGo__description
					h3.lessonsGo__name Ձեր պորտֆոլիոն
					p.lessonsGo__text Օգնում ենք ստեղծել գրագետ պորտֆոլիո
		.col-xl-4.col-lg-6.col-12
			.lessonsGo__box
				span.lessonsGo__number 09
				.lessonsGo__description
					h3.lessonsGo__name Աճի մոտիվացիա
					p.lessonsGo__text Դուք կտեսնեք, թե ինչ մոտ է այն, ինչի մասին երազում էիք
		.col-xl-4.offset-xl-2.col-lg-6.offset-lg-0.col-12
			.lessonsGo__box
				.lessonsGo__number 10
				.lessonsGo__description
					h3.lessonsGo__name Ռեալ պրակտիկա
					p.lessonsGo__text Ուսումնառություն հիմնված ռեալ նախագծերի վրա ռեալ հաճախորդների հետ
		.col-xl-4.offset-xl-0.col-lg-6.offset-lg-3.col-12.offset-0
			.lessonsGo__box
				span.lessonsGo__number 11
				.lessonsGo__description
					h3.lessonsGo__name Ստեղծեք Ձեր երազանքի թիմը
					p.lessonsGo__text Սովորեք, կիսվեք գիտելիքներով, հետևեք առաջընթացին
	.row.lessonsGo__row
		.col-lg-6.offset-lg-1.col-md-6.offset-0
			span.lessonsGo__titleMore Եվ այս ամենը բոլորը չէ
			p.lessonsGo__textMore Մենք անում ենք ամեն ինչ, որ Ձեր ուսումնառությունը մեզ մոտ անցնի հետաքրքիր և արդյունավետ։ Սա ուղղակի զբաղմունք չէ, այլ մի ողջ համակարգ, որը կառուցվում է Ձեր և Ձեր գիտելիքների շուրջ։
			a.lessonsGo__btn.btn(href='#') Գրանցվել
		.col-lg-3.offset-lg-1.col-md-6.offset-0
			img.lessonsGo__img(src='img/lessonsGo.png' alt='pic')
