.container-fluid.footer
    .container
        h2.footer__title Ինչպե՞ս գտնել մեզ։
        .row
            .col-xl-5.col-lg-6
                .footer__findUs.findUs
                    ul.findUs__list
                        li.findUs__item
                            +svg('icon-location').findUs__icon
                            | Պռոշյան փողոց
                        li.findUs__item
                            +svg('icon-clock2').findUs__icon
                            | Աշխատանքային ժամերը՝ 10։00-19։00
                        li.findUs__item
                            +svg('icon-phone2').findUs__icon
                            a.findUs__call(href="tel:+(374) 55 751 777") +(374) 55 751 777
                        li.findUs__item
                            +svg('icon-mail').findUs__icon
                            | info@codetime.am
                        li.findUs__item
                            +svg('icon-telegram').findUs__icon
                            | @codetimebot
                    .findUs__icons
                        a.findUs__link(href="#")
                            +svg('icon-fb').findUs__icon
                        a.findUs__link(href="#")
                            +svg('icon-telegrambg').findUs__icon
                        a.findUs__link(href="#")
                            +svg('icon-instagram').findUs__icon
            .col-xl-6.offset-lg-1.col-lg-5.col-md-12.offset-md-0
                iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3047.856769680545!2d44.50149381525957!3d40.19000087732165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x406abd1b013f4f6d%3A0x3c6e159dd122af8c!2zMTAgUHJvc2h5YW4gU3RyZWV0LCBZZXJldmFuLCDQkNGA0LzQtdC90LjRjw!5e0!3m2!1sru!2s!4v1603749608296!5m2!1sru!2s" width="100%" height="356" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
        .row
            .col-12
                p.footer__desc 2020 © CodeTime Բոլոր իրավունքները պաշտպանված են Հանրային օֆերտա


