// stylelint-disable no-empty-source
@font-face {
	src: url("../fonts/Mardoto-Bold.woff2") format("woff2");
	font-family: (Mardoto-Bold);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	src: url("../fonts/Mardoto-Regular.woff2") format("woff2");
	font-family: (Mardoto);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	src: url("../fonts/Mardoto-Light.woff2") format("woff2");
	font-family: (Mardoto-Light);
	font-weight: normal;
	font-style: normal;
}
