// stylelint-disable no-empty-source
@font-face {
	src: url("../fonts/Gilroy-Bold.ttf") format("ttf");
	font-family: (Gilroy-Bold);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	src: url("../fonts/Gilroy-Regular.ttf") format("ttf");
	font-family: (Gilroy-Regular);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	src: url("../fonts/HomemadeApple-Regular.ttf") format("ttf");
	font-family: (HomemadeApple-Regular);
	font-weight: normal;
	font-style: normal;
}
