
// Typography

// Fonts
$font-family-mardoto: "Mardoto", sans-serif;
$font-family-mardoto-bold: "Mardoto-Bold", sans-serif;
$font-family-mardoto-light: "Mardoto-Light", sans-serif;
$font-family-montserrat: "Montserrat-Bold", sans-serif;

// Colors
$royal-blue: #3A75D9;
$color-purpleheart: #69359c;
$color-white: #fff;
$color-black: #000;
$color-curiousBlue: #288dd5;
$color-blueZodiac: #10233e;
$color-lynch: #60738e;
$color-robinsEggBlue: #7427e6;
$color-electricviolet: #924cf9;
$color-selago: #e9e9fd;
$color-doveGray: #707070;
$color-robinsEggBlue: #0ec1cc;
$color-catskill-ehite: #E2EBF0;
$color-casal: #27576d;
$color-zircon: #F2F5FF;
$color-mischka: #d8dbe6;
$color-gray: #858484;
$color-perfume: #C0BFF6;
$color-aqua-spring: #F8FBFD;