// Fonts

// Colors
$color-white: #fff;
$color-black: #000;

// Typography

// Fonts
$font-family-gilroy: "Gilroy-Regular", sans-serif;
$font-family-gilroy-bold: "Gilroy-Bold", sans-serif;
$font-family-homemadeApple: "HomemadeApple-Regular", sans-serif;

// Colors
$color-white: #fff;
$color-black: #000;
$color-curiousBlue: #288dd5;
$color-blueZodiac: #10233e;
$color-lynch: #60738e;
$color-purpleheart: #7427e6;
$color-electricviolet: #924cf9;
$color-selago: #e9e9fd;
$color-doveGray: #707070;
$color-robinsEggBlue: #0ec1cc;
$color-casal: #27576d;
$color-thunder: #231f20;
$color-TreePoppy: #f7941e;
$color-AthensGray: #f1f1f2;
